table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: larger;
  color:darkcyan;
  width: 100%;
}

table td,
table th {
  
 padding:10px;
}

table tr {
  background-color: white;
}

table tr:hover {
  background-color: #ddd;
}

table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(179, 179, 219);
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  color: white
}
